.info {
    padding: 0;
    margin: 0;
    position: relative;
}

.info h2 {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .25rem;
    color: #00416A;
    line-height: 1rem;
    margin: 1.25rem;

}

.info p {
    font-size:1.25rem;
    padding: 0 2rem;
    margin: 0.25rem;
    line-height: 1.5rem;
}

.info__header{
    position: absolute;
    color: #00416A;
    font-size: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 1px 1px 0 #fff;
}

span {
    color: darkorange;
}

