.info {
    padding: 2rem;
    width: 70%;
    float: right;
    display: inline-block;
}

.info h2 {
    text-align: center;
    font-size: 1.75rem;
    text-transform: uppercase;
    letter-spacing: .4rem;
    color: #00416A;

}

.info p {
    font-size:1.25rem;
    padding: 0 3rem;
    margin: 0.5rem;
}
