

.country {
    padding: .5rem 1rem;
    cursor: pointer;
    transition: all .25s linear;
}

.country:hover{
    background-color: #00416A;
    color:#fff;
}

img {
    display: inline-block;
    width: 24px;
    height:auto;
    padding-right:.25rem;
}
