.App__header .App__logo {
    padding: 1rem 1rem 1rem 4rem;
    color: #00416A;
    line-height: 1.5rem;
    font-size: 1.5rem;
    letter-spacing: .25rem;
    text-transform: uppercase;

}

.continent__list {
    width: 20%;
    border-right: 1px solid black;
    padding-top: 1rem;
    height:75vh;
    overflow-y: scroll;
    float: left;
}