.App__header .App__logo {
    padding: 1rem 1rem 1rem 4rem;
    color: #00416A;
    line-height: 1.5rem;
    font-size: 1.5rem;
    letter-spacing: .25rem;
    text-transform: uppercase;

}

.continent__list {
    max-width: 20%;
    display: inline-block;
    padding: 1rem;
    position: fixed;
    height:75vh;
    overflow-y: auto;
    overflow-x: hidden;
    float: left;
}